#carousel-view {
  position: relative;
  background-color: bisque;
  overflow: hidden;
}


#carousel {
  display: flex;
  flex-flow: row nowrap;
}

/*
 * On destop the caoursel will only translate
 * by clicking on buttons so always animate
 */
@media screen and (min-width: 900px) {
  #carousel {
    transition: transform 1.5s ease 0s;
  }
}

/*
 * On mobile devices the carousel will translate
 * when adjusting itself to center an image and 
 * when the user is touching the screen and moving
 *
 * Only the first case should be animated
 */
@media screen and (max-width: 900px) {
  #carousel.adjusting {
    transition: transform .5s ease-in 0s;
  }
}


/*
 * Images in carousel should fill the entire area
 */
#carousel > .carousel-image-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#carousel > .carousel-image-container > .carousel-image {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}


.carousel-image-container {
  overflow: hidden;
  position: relative;
}


.carousel-image {
  object-fit: cover;
}

/*
 * Carousel images description
 */

.carousel-image-description {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2em;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 5px;
}

.carousel-image-title {
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;
}

.carousel-image-subtitle {
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  .carousel-image-description {
    padding: 1rem;
    margin: 2em;
  }

  .carousel-image-title {
    font-size: 24px;
  }

  .carousel-image-subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .carousel-image-description {
    padding: .5rem;
    margin: 1em;
  }

  .carousel-image-title {
    font-size: 18px;
  }

  .carousel-image-subtitle {
    font-size: 16px;
  }
}


/*
 * Carousel navigation
 */

#carousel-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2em;
  margin-left: 0 !important;
  gap: 1em;
  max-height: 20%;
}

.carousel-nav-link {
  background-color: rgba(0, 0, 0, .7);
  width: 35px;
  height: 25px;
  border-radius: 15px;
  transition: background-color 1s ease 0s;
}

.carousel-nav-link.selected {
  background-color: rgba(200, 200, 200, .7);
}

.carousel-nav-icon {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}

.carousel-nav-icon > img {
  background-color: white;
  border-radius: 50%;
  padding: .5em;
}

/*
 * On desktop the left and right icons should slide in
 * from the side of the screen
 */
@media screen and (min-width: 1200px) {
  .carousel-nav-icon {
    padding-left: 2em;
    padding-right: 2em;
  }

  .carousel-nav-icon > img {
    transition: transform .3s ease 0s;
  }

  .carousel-nav-icon.top-left > img {
    transform: translateX(-300%);
  }
  
  .carousel-nav-icon.top-right > img {
    transform: translateX(300%);
  }
  
  .carousel-nav-icon:hover > img {
    transform: translateX(0%);
  }
}

/*
 * On smaller mobile devices left and right icons
 * should not appear at all
 */
@media screen and (max-width: 600px) {
  #carousel-nav-icons {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  #carousel-nav-icons {
    display: none;
  }
}

#carousel-popup {
  display: none;
  background-color: rgba(0, 0, 0, .7);
}

#carousel-popup.show {
  display: block;
}

#carousel-popup > img {
  object-fit: contain;
}
