* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}


body {
  font-family: 'Roboto', sans-serif;
  user-select: none;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}


/*
 * Hide the scrollbar
 */
 
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}


/*
 * Generic Classes
 */

.fill-parent {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.fill-width {
  width: 100%;
  min-width: 100%;
}

.fill-height {
  height: 100%;
  min-height: 100%;
}


/*
 * Logo View
 */

#logo-view {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#socials {
  min-height: 5%;
  max-height: 5%;
  padding-top: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}


.social-link {
  aspect-ratio: 1;
}

/*
 * On desktop apply a simple scaling animation
 * to the hovered link to make it stand out
 */
@media screen and (min-width: 900px) {
  .social-link {
    transition: transform .2s ease 0s;
  }

  .social-link:hover {
    transform: scale(1.2);
  }
}


.social-tag {
  position: absolute;
  visibility: hidden;
}

/*
 * Only apply styling to tags on desktop
 * since on mobile they'll be permanently hidden
 */
@media screen and (min-width: 900px) {
  .social-tag {
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: .3rem;
  }
  
  .social-link:hover > .social-tag {
    visibility: visible;
  }
}

@media screen and (max-width: 600px) {
  .social-tag {
    display: none;
  }
}


#logo {
  max-height: 35%;
}

@media screen and (max-width: 600px) {
  #logo {
    max-height: 20%;
  }
}


#logo-view-scroll {
  display: flex;
  justify-content: center;
  max-height: 10%;
}

/* 
 * On desktop only add a slight animation 
 * to the background color on mouse hover 
 */
@media screen and (min-width: 900px) {
  #logo-view-scroll {
    transition: background-color .5s ease 0s;
  }

  #logo-view-scroll:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}


/*
 * Carousel View
 */

 #carousel-view {
  position: relative;
  background-color: bisque;
  overflow-x: hidden;
}


#carousel {
  display: flex;
  flex-flow: row nowrap;
  transition: transform 1.5s ease 0s;
}

@media screen and (min-width: 900px) {
  #carousel {
    transition: transform 1s ease-in 0s;
  }
}


/*
 * Images in carousel should fill the entire area
 */
#carousel > .carousel-image-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

#carousel > .carousel-image-container > .carousel-image {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}


.carousel-image-container {
  overflow: hidden;
  position: relative;
}


.carousel-image {
  object-fit: cover;
}

/*
 * Carousel images description
 */

.carousel-image-description {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2em;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 5px;
}

.carousel-image-title {
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;
}

.carousel-image-subtitle {
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  .carousel-image-description {
    padding: .5rem;
    margin: 1em;
  }

  .carousel-image-title {
    font-size: 18px;
  }

  .carousel-image-subtitle {
    font-size: 16px;
  }
}


/*
 * Carousel navigation
 */

#carousel-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 2em;
  gap: 1em;
}

.carousel-nav-link {
  background-color: rgba(0, 0, 0, .7);
  width: 35px;
  height: 25px;
  border-radius: 15px;
  transition: background-color 1s ease 0s;
}

.carousel-nav-link.selected {
  background-color: rgba(255, 255, 255, .7);
}
